language: node_js
node_js:
  - "15"

cache: npm

script:
  - npm run test:unit
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist
  on:
    branch: master
  target-branch: page