$primary: #009B91;
$light: #D9E5EC;
$dark: #334152;
$warning: #909090;

$background:  linear-gradient(to right top, #334152, #4f5d6d, #6c7a88, #8b99a5, #abb9c3, #adc1cd, #aec9d6, #afd2de, #8dc4d0, #68b7be, #41a9a9, #009b91);


$shadow: 7px 6px 2px -1px rgba(0,0,0,0.22);
