@import "colors";

/********************************************************/
/****************** Navigation ******************/
.nav {
  margin: 30px 20px;
}

/********************************************************/
/****************** Links ******************/
.link, .big-link {
  text-decoration: none;
  color: black;
}

.link.decorate {
  text-decoration: black underline;
}

.big-link {
  color: white;
  background: $dark;
  box-shadow: $shadow;
  padding: 10px 20px;
  margin: 15px !important;
  font-size: 36px;
  font-weight: bolder;
}

/********************************************************/
/****************** Tile ******************/
.tile-group {
  display: grid;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, 2fr);
  justify-content: center;
}

.tile {
  align-self: stretch;
  background: $dark;
  color: white;
  box-shadow: $shadow;
  text-decoration: none;
  overflow: auto;
}

a:hover {
  transform: translate(0.1em, 0.25em);
  box-shadow: $shadow-clicked;
}

.tile-wrapper {
  margin: 25px;
  max-height: 350px;
}

/* Tile options */
.inverted-tile {
  background: white;
  color: black;
}

.warning-tile {
  background: $warning;
  color: white;
}

.tile-list {
  list-style: none;
  text-align: left;
  margin-left: 0;
  padding-left: 0;

  > * {
    margin-top: 10px;
  }
}

/* Normal Tile: big title and small content */
.tile-title {
  min-font-size: 30px;
  font-size: 30px;
  max-font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 3px;
}

.tile-content {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
}

/* Big Tile: small title but big content */

.big-tile-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 3px;
}

.big-tile-content {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tile-subtitle {
  font-size: 20px;
  margin-top: 25px;
}

/********************************************************/
/****************** Timetable ******************/
.timetable {
  width: 100%;
  font-size: small;
  text-align: left;
}


/********************************************************/
/****************** Termine ******************/
.termine {
  width: 100%;
  font-size: small;
  text-align: left;
}

/********************************************************/
/****************** Login ******************/
.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 15px;
  align-items: flex-start;
}

/********************************************************/
/****************** Images ******************/
img {
  width: 100%;
  height: auto;
}

/********************************************************/
/****************** Table ******************/
table {
  text-align: left;
}

/********************************************************/
/****************** Grades ******************/
.grades {
  width: 100%;
}

.grade {
  font-size: 10pt;
  margin-bottom: 2px;
}

.subject {
  text-align: left;
}

.status {
  text-align: right;
}

/********************************************************/
/****************** Scrollbar ******************/
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

/********************************************************/
/****************** Buttons ******************/
.button {
  border: none;
  cursor: pointer;
  font-size: 24px;
  box-shadow: $shadow;
  padding: 5px;
  background: $dark;
  color: white;
  margin: 5px;
  font-weight: bolder;
}

.button.icon {
  color: $dark;
  background: none;
  font-size: 48px;
  box-shadow: none;
}